- import turqey.servlet.ServletContextHolder._
- import turqey.utils.Json

-@val drafts:   Seq[Draft]

div.container#container
  div.row
    div.col.s12
      - for (draft <- drafts)
        div.card
          div.card-content
            span.card-title
              a(data-bind="text: title, attr: { href: '#{root}/article/' + id + '/draft/'}")
            p
              |作成:
              span(data-bind="text: created")
              span(data-bind="text: '更新: ' + updated, visible: updated !== ''")

