- import turqey.servlet.ServletContextHolder._
- import turqey.entity._

-@val tags: Seq[(Tag, Int)]

div.container
  p タグ一覧
  div.row
    div#whole.col.s12
      - for((t, c) <- tags) 
        div.card
          div.card-content
            span.card-title
              a(href="#{root}/tag/#{t.id}") #{t.name}
            p
              span 記事数: #{c}
