
- import turqey.servlet.ServletContextHolder._

-@val uri: Option[String] = None
div.container
  div.row
    div.col.s6.offset-s3.center
      div.card-panel
        form(method="post" action="#{root}/login")
          div.row
            div.input-field.col.s12
              input#loginId.validate(name="loginId" type="text" placeholder="ID")
              label(for="email") ID
          div.row
            div.input-field.col.s12
              input#password.validate(name="password" type="password" placeholder="PASS")
              label(for="password") PASS
          div.row.s12
            button.waves-effect.waves-light.btn Login
          - if(uri.isDefined)
            input(name="uri" type="hidden" value="#{uri.get}")